{% extends "main.html" %}

{% block scripts %}
{{ super() }}
<script>
    // Força o uso do modo escuro
    document.body.setAttribute("data-md-color-switching", "")
    document.body.setAttribute("data-md-color-scheme", "slate")
    setTimeout(function () {
        document.body.removeAttribute("data-md-color-switching")
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.min.js"></script>
<script src="javascripts/background.min.js"></script>
{% endblock %}

{% block container %}
{{ super() }}
<div id="background-container"></div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="stylesheets/home.min.css">
{% endblock %}