$davi-background: #0a0a14;

$davi-primary-hue: 260;
$davi-secondary-hue: 155;

$davi-primary:           oklch(35% 0.27 $davi-primary-hue);
$davi-primary--light:    oklch(50% 0.27 $davi-primary-hue);
$davi-primary--lightest: oklch(60% 0.27 $davi-primary-hue);
$davi-primary--dark:     oklch(30% 0.27 $davi-primary-hue);

$davi-secondary:           oklch(35% 0.27 $davi-secondary-hue);
$davi-secondary--light:    oklch(50% 0.27 $davi-secondary-hue);
$davi-secondary--lightest: oklch(60% 0.27 $davi-secondary-hue);
$davi-secondary--dark:     oklch(30% 0.27 $davi-secondary-hue);