$davi-blue: rgb(5, 5, 131);
$davi-blue--light: rgb(25, 25, 255);
$davi-blue--lightest: rgb(50, 110, 255);
$davi-blue--dark: rgb(0, 0, 100);
$davi-blue--background: rgb(10, 10, 20);

$davi-green: rgb(5, 130, 36);
$davi-green--light: rgb(25, 255, 83);
$davi-green--lightest: rgb(90, 255, 150);
$davi-green--dark: rgb(0, 99, 25);